/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
}

h3 {
    font-size: 24px;
}

ul {
    list-style: disc;
}

/* Target section elements to apply background color */
section {
    position: relative;
    background-color: #fff;
    color: #000;
}

/* Create a pseudo-element for black and white background */
section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.7; /* Adjust the opacity as needed */
    z-index: -1;
}

p {
    margin: 0;
}

#profile::before {
    background-color: #f4f4f4;
}

#employment::before {
    background-color: #e0e0e0;
}

#skills::before {
    background-color: #f4f4f4;
}

#hobbies::before {
    background-color: #e0e0e0;
}
